<!DOCTYPE html>
<html lang="en">
  <body class="body-form">
    <div class="tm-page-wrap mx-auto">
      <div class="position-relative">
        <div class="form-body">
          <div class="row">
            <div class="form-holder">
              <div class="form-content">
                <div class="form-items">
                  <h3>Resend unlock instructions</h3>

                  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="field col-md-12 form-styling">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>

                    <div class="actions form-styling btn">
                      <%= f.submit "Resend unlock instructions" %>
                    </div>
                  <% end %>

                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function () {
        "use strict";
        const forms = document.querySelectorAll(".requires-validation");
        Array.from(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>