<div id="<%= dom_id book %>">
  
  <% if book.image.attached? %> 
    <%= link_to image_tag(book.image_as_thumbnail), book %>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>category:</strong>
    <%= link_to book.category.name, book.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

</div>
