<%= render @book %>

<br>

<div class="row container">

  <div class="col-md-6">
    <%= link_to "Back to books", books_path %>
    <% if user_signed_in? %>
      <% if @book.user_id == current_user.id %>
        | <%= link_to "Edit this book", edit_book_path(@book) %>
        <% if current_user.moderator? %>
          <%= button_to "Destroy this book", @book, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">  
      <% if user_signed_in? %>
        <% if Request.where(book_id: @book.id).count < 5 %>
          <%= render "requests/form", book: @book %>
        <% end %>
      <% end %>
  </div>

  <br />

  <div class="col-md-12 request-index">
    <% if @book.user_id == current_user.id || current_user.moderator? || current_user.admin? %>
    <h2>There are <%= pluralize(@requests.count, "request") %> for this book.</h2>
      <% @requests.each do |request| %>
        <%= render "requests/request", book: @book, request: request %>
      <% end %>
    <% end %>
  </div>

</div>
