<p style="color: green"><%= notice %></p>

<h1><strong>Categories</strong></h1>
<%= link_to "Back to books", books_path %>
<% if current_user %>
  <% if current_user.admin? || current_user.moderator? %>
    <%= link_to "New category", new_category_path %>
  <% end %>
<% end %>

<div id="categories" class="container">
  <% @categories.each do |category| %>
    <div id="<%= dom_id category %>">
      <h2>
        <strong><%= link_to category.name, category %></strong>
      </h2>

      <% if category.books.count == 0 %>
        <h4>There are no books currently in this category.</h4>
      <% else %>
        <div class="row tm-catalog-item-list">
          <% category.books.each do |book| %>
            <div class="col-lg-3 col-md-4 col-sm-6 tm-catalog-item">
              <% if book.image.attached? %> 
                <%= link_to image_tag(book.image_as_thumbnail, class: "book-thumbnail"), book %>
              <% else %>
                <div class="no-image-thumbnail-div">
                  <%= link_to book.title, book, class: "no-image-thumbnail" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  <% end %>
</div>