<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Back to categories", categories_path %>

  <% if user_signed_in? %>
    <% if current_user.admin? || current_user.moderator? %>
      | <%= link_to "Edit this category", edit_category_path(@category) %>
      <%= button_to "Destroy this category", @category, data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
  <% end %>
</div>
